head
  link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
body
  .container
    .main
      .row1.row
        .item.item1 Break Length
        .item.item2 Session Length
      .row2.row
        .item
          .item-33#inc-break +
          .item-33#break-length 5
          .item-33#dec-break -
        .item
          .item-33#inc-session +
          .item-33#session-length 25
          .item-33#dec-session -
    .timer#time-left 25:00
      
    
  